/*Global settings*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html,
body {
    height: 100%;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
.serif {
    font-family: "Times New Roman", Times, serif;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
}
img{
    width: 100px;
    height: 100px;
}
ul{
    list-style: none;
}
.img--full{
    width: 100%;
    height: 100%;
}
.rflex{
    flex-direction: row;
}
.cflex{
    flex-direction: column;
}

/*Header*/
.Header {
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: hsla(0,0%,100%,.7);
    background-color: #24292e;
    flex-direction: row;
}
.Header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.Header-item{
    display: flex;
    align-items: center;
    margin-right: 24px;
    align-self: stretch;
}
.nav-bar, .nav-item{
    display: flex;
    position: relative;
}
.dropdown {
    cursor: pointer;
}
.dropdown-menu{
    flex-direction: column;
    width: max-content;
    position: absolute;
    top: 36px;
    border: 1px solid black;
    padding: 4px 0px;
    background-color: white;
    border-radius: 7px;
    z-index: 2;
}
.Header-item--full {
    flex: auto;
}
.Header-item--mr_0 {
    margin-right: 0px;
}
.Header-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.Header-link {
    color: white;
    margin-right: 24px;
    text-decoration: none;
}
.Header-link:hover {
    color: rgb(216, 216, 216);
}
.Header-link--mr_0{
    margin-right: 0px;
}
.Header-dropdown-link{
    font-weight: 400;
    color: black;
    padding: 4px 16px;
    text-decoration: none;
}
.Header-dropdown-link:hover{
    background-color: rgb(216, 216, 216);;
}
.dropdown-caret{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}

/*Content*/
.content{
    display: flex;
    flex: auto;
    background-image: url("src/background.jpg");
    background-size: cover;
    font-size: 22px;

    padding: 24px;
}
.intro{
    width: 40%;
}
.intro > p{
    padding: 8px;
}
.intro-img-box{
    display: flex;
    justify-content: center;
    width: 100%;
}
.intro-img-box > img{
    height: auto;
    width: auto;
}

.info-slidershow-box{
    display: flex;
    flex: auto;
    margin-left: 24px;
    justify-content: center;
    align-items: center;
}
.info-slidershow{
    display: flex;
    width: 50vw;
    height: 65vh;

    box-shadow: 5px 5px 10px 1px rgb(120, 120, 120);
}
.info-slider{
    width: 50vw;
    height: 55vh;
    overflow: hidden;
    /*border: 1px solid black;*/
}
.info-slider-anchor{
    width: 50vw;
    height: 100%;
    transition: 1.2s ease;
}
.info-slider-items-wrapper{
    display: flex;
    width: 400%;
    height: 100%;
}
.info-slider-item{
    width: 50vw;
    height: 100%;
}

.info-sliderbar{
    display: flex;
    flex: auto;
    align-items: center;
    align-self: stretch;
    width: 100%;
    
    padding: 16px 24px;
    font-size: 24px;
    color: white;
    background-color: #24292e;
    border: 0px;
    /*border: 1px solid black;*/
}
.info-sliderbar-item{
    margin-right: 12px;
}
.info-sliderbar-item--full{
    flex: auto;
}
.info-sliderbar-item--mr_0{
    margin-right: 0px;
}
.sliderbar-text{
    transition: 1s
}
.sliding-circle{
    border: 8px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}